<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
     
        <title>
        TrackAPPeople
        </title>

        <link href="../css/TrackAPPeople.css" rel="stylesheet">
        <link href="../css/style.css" rel="stylesheet">
        <link href="../lib/ionic/css/ionic.css" rel="stylesheet">
        

        <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
        -->

        <!-- ionic/angularjs js -->
        <!--<link href="../css/ionic.app.css" rel="stylesheet">-->
   
   <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAlubEQd2eMfKg6CIfL_ID0UaBcIudtr3Q&libraries=places&sensor=true">
        </script>



        <script src="../lib/ionic/js/ionic.bundle.js">
        </script> 
        
<script src="../js/angular-google-maps.min.js">
        </script> 
       

<script src="../js/ng-cordova.min.js" type="text/javascript">
        </script> 

        <script src="../js/smsplugin.js" type="text/javascript">
        </script> 


        <script src="../js/jquery.js" type="text/javascript">
        </script> 

        <script src="../js/places.js" type="text/javascript">
        </script> 

 <script src="../cordova.js"></script>

    

 <script src="../js/app.js">
        </script>


   
       

        <header class="taskbar">
            <img src="../img/logo/white-header-logo.png">
        </header>
      
        <main class="person" ng-app="starter" ng-controller="main">

            <img src="../img/perfil/perfil.jpg" class="person-picture">

            <h1 class="person-name">Vinicius Carvalho</h1>
            <a href="tel:981275534" class="person-phone link">(12) 98127 - 5534</a>

            <h2 class="person-localization-title">Ultima localização:</h2>
            <address class="person-current-localization">

              <span ng-controller="MapController" class="person-click-to-update">{{ultimascoord}}</span>
            
            </address>

             <p class="person-click-to-update" ng-controller="main" >Ative o botão para recebers as coordenadas direto no aplicativo:</p> 

             <p><button ng-click="receberSMSbtn()"  class="btn action">{{ativar}}</button>
             <button ng-click="pararReceSMSbtn()"  class="btn action">{{desativar}}</button></p>

            
            
            <p class="person-click-to-update">Para atualizar e receber as coordenadas, aperte o botão abaixo:</p> 

            <p><button ng-click="sendSMSbtn('996177262','receber')"  class="btn action">Receber Coordenadas</button></p>

    
          <button class="btn action" ng-click="deletebd()">Remover o último local</button> 
      
            
            
 </p>
        </div>
        <p class="person-click-to-update">Visualizar a localização de Vinicius no mapa.</p>
     
            <p><button ng-click="hideMap()" id="hideMap" class="btn action">Abrir o Google Maps</button></p>

            <hr>

            <div class="row responsive-sm" ng-controller="MapController">
            <div class="row" data-tap-disable="true" >
              <div id="map" data-tap-disable="true"> <!-- Tem que deixar o tamanho inicial de 0 dando impressao de que está escondido, pois se usar o hide() ele fica zuado! --> 
              </div>
            </div>
        </div>

          <update-coordinates ng-controller="MapController">
                <p><h4>Digite a baixo os valores que você recebeu por sms:</h4></p>
         
  <update-coordinates class=" item-input-inset" ng-model="inputCmp" ng-controller="MapController"> 
  
     
    <label class="item-input-wrapper">

       <input type="text" ng-model="inputCmp" ng-keypress="($event.which === 13)?geocode():0" id="search" type="search" placeholder="Coordenadas" >
    </label>
    <button class="button button-small" ng-click="geocode()">Encontrar</button> 
     </update-coordinates>

  
        </main>
     

</html>