<img src="">

<h1>Vinicius Carvalho</h1>
<a href="tel:981275534">(12) 98127 - 5534</a>

<h2>Ultima localização:</h2>
<address>
    Rua: Inconfidentes, 245,<br>
    Jd. São Dimas - São José dos Campos -<br>
    São Paulo - Brasil
</address>
<p>Para atualizar, <a href="">clique aqui!</a></p>

<button>Visualizar a localização de Vinicius no mapa</button>

<hr>

<div id="map_canvas"></div>

<update-coordinates>
    <p>Digite a baixo os valores que você recebeu por sms:</p>
    <input type="text" placeholder="digite as coordenadas aqui">
</update-coordinates>