.btn {
    color: $white;
    font-size: $size-3;
    text-decoration: none;
    display: inline-block;
    @include border-radius(3px);
    padding: $size-3;

    &.action {
        background-color: $green;
    }
}