.person {
    color: $gray;
    font-family: "proxima nova";
    padding: $size-3;
    text-align: center;
}

.person-picture {
    width: 44%;
    @include border-radius(50%);
}

.person-name {
    color: #666666;
    font-size: 32px;
    margin: $size-4 0 $size-2;
}

.person-phone {
    font-size: 24px;
    color: $green;
    display: inline-block;
    margin-bottom: $size-5;
}

.person-click-to-update {
    font-size: 1.5em;
    margin-top: $size-3;

    & + .btn {
        margin: $size-6 0;
    }

}

.person-localization-title {
    color: #F07818;
    font-family: $font-proxima-nova-semibold;
    font-size: 32;
    margin-bottom: $size-2;
}

.person-current-localization {
    color: #666666;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 46px;
}
