.person {
    color: $gray;
    font-family: "proxima nova";
    padding: $size-3;
    text-align: center;
}

.person-picture {
    width: 44%;
}

.person-name {
    font-family: "proxima nova semibold";
    font-size: 2em;
    margin: $size-4 0 $size-2;
}

.person-phone {
    font-size: 1.5em;
    color: $green;
    display: inline-block;
    margin-bottom: $size-5;
}

.person-click-to-update {
    font-size: 1.5em;
    margin-top: $size-3;

    & + .btn {
        margin: $size-6 0;
    }

}

.person-localization-title {
    font-family: "proxima nova semibold";
    font-size: 2em;
    margin-bottom: $size-2;
}

.person-current-localization {
    font-size: 1.5em;
}
