$size: 8px;
$size-1: 1 * $size;
$size-2: 2 * $size;
$size-3: 3 * $size;
$size-4: 4 * $size;
$size-5: 5 * $size;
$size-6: 6 * $size;
$size-7: 7 * $size;
$size-8: 8 * $size;
$size-9: 9 * $size;
$size-10: 10 * $size;

// Collor Palett
$white: #FFFFFF;
$green: #78C0A8;
$cream: #FCEBB6;
$brown: #5E412F;
$orange: #F07818;
$light-orange: #F0A830;
$gray: #666666;