/* line 5, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
a img {
  border: none;
}

/* line 116, c:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.3\stylesheets\compass\reset\_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("/fontes/proximanova-regular/proximanova-regular-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fontes/proximanova-regular/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/fontes/proximanova-regular/proximanova-regular-webfont.woff") format("woff"), url("/fontes/proximanova-regular/proximanova-regular-webfont.ttf") format("truetype"), url("/fontes/proximanova-regular/proximanova-regular-webfont.svg#ProximaNova") format("svg");
  /* Legacy iOS */
}
@font-face {
  font-family: "Proxima Nova Semibold";
  src: url("/fontes/proximanova-semibold/proximanova-semibold-webfont.eot");
  /* IE9 Compat Modes */
  src: url("/fontes/proximanova-semibold/proximanova-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/fontes/proximanova-semibold/proximanova-semibold-webfont.woff") format("woff"), url("/fontes/proximanova-semibold/proximanova-semibold-webfont.ttf") format("truetype"), url("/fontes/proximanova-semibold/proximanova-semibold-webfont.svg#ProximaNovaSemibold") format("svg");
  /* Legacy iOS */
}
/* line 1, ../../sass/_wellcome.scss */
.wellcome {
  background-image: url('../img/background/wellcome-bg.png?1433535125');
  background-position: center top;
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  -moz-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.69);
  -webkit-box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.69);
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.69);
  padding: 24px 0 92px;
  text-align: center;
}
/* line 11, ../../sass/_wellcome.scss */
.wellcome .h1 {
  color: #fff;
  margin-top: 15%;
  margin-bottom: 31px;
  font-size: 20px;
}

/* line 23, ../../sass/_wellcome.scss */
.wellcome-logo {
  width: 75.212%;
  margin-top: 10%;
  margin-bottom: 20px;
}

/* line 28, ../../sass/_wellcome.scss */
.wellcome-description {
  color: #DFDFDE;
  font-size: 16px;
  line-height: 120%;
  width: 57%;
  margin: 0 auto 100px;
}

/* line 37, ../../sass/_wellcome.scss */
.wellcome-action-call {
  margin-bottom: 24px;
}

/* line 1, ../../sass/_buttons.scss */
.btn {
  color: #FFFFFF;
  font-size: 24px;
  text-decoration: none;
  display: inline-block;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 24px;
}
/* line 9, ../../sass/_buttons.scss */
.btn.action {
  background-color: #78C0A8;
}

/* line 1, ../../sass/_person.scss */
.person {
  color: #666666;
  font-family: "proxima nova";
  padding: 24px;
  text-align: center;
}

/* line 8, ../../sass/_person.scss */
.person-picture {
  width: 44%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 13, ../../sass/_person.scss */
.person-name {
  color: #666666;
  font-size: 32px;
  margin: 32px 0 16px;
}

/* line 19, ../../sass/_person.scss */
.person-phone {
  font-size: 24px;
  color: #78C0A8;
  display: inline-block;
  margin-bottom: 40px;
}

/* line 26, ../../sass/_person.scss */
.person-click-to-update {
  font-size: 1.5em;
  line-height: 120%;
  font-family: "Proxima Nova Semibold", "Helvetica Neue Semibold", "Helvetica", Arial, Sans-Serif;
  margin-top: 24px;
}
/* line 30, ../../sass/_person.scss */
.person-click-to-update + .btn {
  margin: 48px 0;
}

/* line 36, ../../sass/_person.scss */
.person-localization-title {
  color: #F07818;
  font-family: "Proxima Nova Semibold", "Helvetica Neue Semibold", "Helvetica", Arial, Sans-Serif;
  font-size: 32;
  margin-bottom: 16px;
}

/* line 43, ../../sass/_person.scss */
.person-current-localization {
  color: #666666;
  font-size: 24px;
  line-height: 120%;
  margin-bottom: 46px;
}

/* line 1, ../../sass/_taskbar.scss */
.taskbar {
  background-color: #FFFFFF;
  margin-bottom: 32px;
  text-align: center;
  padding: 24px 0;
  border-bottom: 1px solid #5E412F;
}

/* line 13, ../../sass/TrackAPPeople.scss */
html,
body {

  font-family: "Proxima Nova", "Helvetica Neue", "Helvetica", Arial, Sans-Serif !important;
  overflow: auto !important;
}

/* line 19, ../../sass/TrackAPPeople.scss */
.scroll-content {
  position: relative !important;
  overflow: auto !important;
}

/* line 24, ../../sass/TrackAPPeople.scss */
.pane, .view {
  overflow: auto !important;
}

/* line 28, ../../sass/TrackAPPeople.scss */
.link {
  color: #78C0A8;
  text-decoration: none;
}
